<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanjeev.sanjeevapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SanjeevApp"
        tools:targetApi="31">
        <activity
            android:name=".module_9.AllContactsActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:name=".module_9.SearchContact"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:name=".module_9.AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".module_9.ContactListActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".module_8.ViewCourses"
            android:exported="false" />
        <activity
            android:name=".module_8.SqlLiteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".module_2.FragmentAssignment"
            android:exported="false" />
        <activity
            android:name=".module_5.RandomActivity"
            android:exported="false" />
        <activity
            android:name=".module_7.MainActivity"
            android:exported="true" />
        <activity
            android:name=".module_5.ControlsActivity"
            android:exported="true" />
        <activity
            android:name=".module_3.Calculator"
            android:exported="true" />
        <activity
            android:name=".module_3.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".module_2.ActivityTwo"
            android:exported="false" />
        <activity
            android:name=".module_2.ActivityOne"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
    </application>

</manifest>